/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 /* COLOR PALLETTE */
 /* LOGO BLUE : #3900FF
 RED: #CC3926
 DARK GREY: #424B54
 DARK BLUE: #133C55
 LIGHT GREY: #CED3DC */

:root {
  --logo-blue : #3900FF;
  --logo-red: #CC3926;
  --dark-grey: #424B54;
  --dark-blue: #133C55;
  --light-grey: #CED3DC;
}
