.session-form{
  width: 100%;
}

.session-form-input{
  width: 200px;
  padding: 2px;
  margin: 2px;
  font-size: 15px;
  border-radius: 4px;
}

.session-redirect-link{
  background-color: var(--logo-blue);
  border-radius:8px;
  border: 1px solid var(--dark-grey);
  width: 80%;
  height: 25px;
  padding-top: 10px;
  display: flex;
  align-content:center;
  justify-content: space-around;
  color: white;
  text-decoration: none;

}

.session-redirect-text a{
  color: white;
  text-decoration: none;
}

#login-form{
  width: 25%;
}
