
#voter-form-container{
  display: flex;
  flex-direction: row;
  width: 80%;
  margin-left: 10%;
}

#voter-form{
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.voter-form-side{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin: 0px 10px;
}

.voter-form-input{
  margin: 3px;
}
