#voter-index-list{

}

.voter-index-item {
  display:flex;
  flex-direction: row;
  padding: 0;
  height: 23px;
}

#voter-index-item-name{
  width:140px;
  a{
    text-decoration: none;
  }
}
#voter-index-item-email{
  width:200px;
}
#voter-index-item-address{
  width:200px;
  *{
    text-decoration: none;
  }
}

[id^="voter-index-item"] * {
  border: .5px solid black;
  padding: 2px 2px 2px 6px;
    *{
      text-decoration: none;
    }
}
